header {
    margin: auto;
    margin-top: 20px;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        display: flex;
        gap: 20px;
        a {
            color: $primary-color;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
