@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-color: #ff6060;
$secondary-color: #ffffff;
$tertiary-color: #000000;
$bg-gallery: #f6f6f6;

$background-color: rgba(0, 0, 0, 0.3);
$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$banner-background: $background-color url(../assets/images/IMGbanner.png);

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

#root {
    margin: auto;
    width: 100%;
    min-width: 375px;
    max-width: 1240px;
}
