header {
    margin: auto;
    margin-top: 20px;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 375px) {
        margin: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
