.errorContainer {
    color: $primary-color;
    margin: 40px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    @media screen and (max-width: 375px) {
        gap: 75px;
    }
}

.errorNumber {
    font-size: 288px;
    font-weight: 700;
    line-height: 410px;
    @media screen and (max-width: 375px) {
        font-size: 96px;
        font-weight: 700;
        margin: 12rem 0 1rem 0;
    }
}

.errorText {
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
    @media screen and (max-width: 375px) {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0 11%;
    }
}

.errorLinkHome {
    max-height: 26px;
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
    @media screen and (max-width: 375px) {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 9rem;
        text-decoration: none;
    }
}
