@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  margin: auto;
  width: 100%;
  min-width: 375px;
  max-width: 1240px;
}

header {
  margin: auto;
  margin-top: 20px;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 375px) {
  header {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  text-transform: none;
}
.nav-header__link-home, .nav-header__link-about {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: right;
  line-height: 142.6%;
  color: #ff6060;
}
@media screen and (max-width: 375px) {
  .nav-header__link-home, .nav-header__link-about {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    line-height: 142.6%;
  }
}
.nav-header__link-home:hover, .nav-header__link-about:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  margin: auto;
  width: 100%;
  min-width: 375px;
  max-width: 1240px;
}

.footer-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 210px;
}
.footer-container__text {
  color: #ffffff;
}

.banner-container {
  position: relative;
  max-height: 225px;
  margin-top: 40px;
}
.banner-container__img {
  width: 100%;
  height: 225px;
  background-color: #000000;
  background-blend-mode: darken;
  border-radius: 25px;
}
@media screen and (max-width: 375px) {
  .banner-container__img {
    height: 111px;
    border-radius: 10px;
  }
}
.banner-container__img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 225px;
  color: #000000;
  opacity: 80%;
}
@media screen and (max-width: 375px) {
  .banner-container__img img {
    height: 111px;
    border-radius: 10px;
  }
}
.banner-container__text {
  position: absolute;
  font-size: 48px;
  font-weight: 500;
  top: 40%;
  left: 400px;
  color: #ffffff;
}
@media screen and (max-width: 375px) {
  .banner-container__text {
    top: 28.04%;
    left: 5.6%;
    right: 32.53%;
    bottom: 80.05%;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
  }
}
@media screen and (max-width: 834px) {
  .banner-container__text {
    top: 28.04%;
    left: 5.6%;
    right: 32.53%;
    bottom: 80.05%;
    font-size: 36px;
  }
}
@media screen and (max-width: 594px) {
  .banner-container__text {
    top: 28.04%;
    left: 5.6%;
    right: 32.53%;
    bottom: 80.05%;
    font-size: 24px;
  }
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  margin: auto;
  width: 100%;
  min-width: 375px;
  max-width: 1240px;
}

.card-logement {
  position: relative;
  display: flex;
  width: 340px;
  height: 340px;
  min-width: 340px;
  border-radius: 25px;
}
.card-logement:hover, .card-logement:focus {
  box-shadow: rgba(255, 96, 96, 0.9) 0 0 22px 6px;
}
@media screen and (max-width: 375px) {
  .card-logement {
    width: 335px;
    height: 255px;
  }
}
.card-logement__layer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-logement__title {
  display: flex;
  align-items: flex-end;
  position: absolute;
  color: #f1f1f1;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

img {
  display: flex;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  border-radius: 25px;
  margin: 22px 0;
  padding: 22px 0;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}
@media screen and (max-width: 375px) {
  .cards-container {
    gap: 20px;
    border-radius: 10px;
  }
}

.link_card_logement {
  text-decoration: none;
}

.aboutBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3) url(../../assets/images/IMGapropos.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 223px;
  margin: 20px 0;
  border-radius: 25px;
}
@media screen and (max-width: 375px) {
  .aboutBackground {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3) url(../../assets/images/mobile-about-background.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.collapse {
  width: 100%;
  margin: 31px auto 0;
}
@media screen and (max-width: 375px) {
  .collapse {
    margin: 20px 0;
  }
}
.collapse__visible {
  background: #ff6060;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  padding: 7px 0;
  border-radius: 5px;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .collapse__visible {
    height: 30px;
  }
}
.collapse__visible h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  padding-left: 10px;
  color: #ffffff;
}
@media screen and (max-width: 375px) {
  .collapse__visible h2 {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}
.collapse__toggle {
  opacity: 0;
  color: #ff6060;
  background: #ffffff;
  border-radius: 5px;
  transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
}
.collapse__toggle p {
  margin: 0;
  padding: 10px 15px;
  pointer-events: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
}
@media screen and (max-width: 375px) {
  .collapse__toggle p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
  }
}

.animated {
  opacity: 1;
  transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}

.chevron {
  height: 12px;
  width: 12px;
  transform: translate(-50%, 0) rotate(180deg);
  transition: 0.4s 0.4s ease-in-out;
  transform-origin: center;
}

.rotated {
  transform: translate(-50%, 0) rotate(0deg);
  transition: 0.4s ease-in-out;
  transform-origin: center;
}

.about-style {
  width: 87.5%;
  max-width: 1023px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}
@media screen and (max-width: 375px) {
  .about-style {
    width: 100%;
  }
}

.collapse-fiche-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
@media screen and (max-width: 375px) {
  .collapse-fiche-container {
    flex-direction: column;
    gap: 0;
  }
}

.equipList {
  list-style-type: none;
}

.errorContainer {
  color: #ff6060;
  margin: 40px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}
@media screen and (max-width: 375px) {
  .errorContainer {
    gap: 75px;
  }
}

.errorNumber {
  font-size: 288px;
  font-weight: 700;
  line-height: 410px;
}
@media screen and (max-width: 375px) {
  .errorNumber {
    font-size: 96px;
    font-weight: 700;
    margin: 12rem 0 1rem 0;
  }
}

.errorText {
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
}
@media screen and (max-width: 375px) {
  .errorText {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 11%;
  }
}

.errorLinkHome {
  max-height: 26px;
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
}
.errorLinkHome:hover {
  text-decoration: underline;
}
@media screen and (max-width: 375px) {
  .errorLinkHome {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 9rem;
    text-decoration: none;
  }
}

#carrousel-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 415px;
  margin: 2% 0;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  #carrousel-container {
    height: 255px;
  }
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 25px;
  opacity: 0;
  transition: opacity ease-in-out 0.6s;
}
@media screen and (max-width: 375px) {
  .slider {
    border-radius: 10px;
  }
}
.slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  mix-blend-mode: normal;
  border-radius: 25px;
}
@media screen and (max-width: 375px) {
  .slider img {
    border-radius: 10px;
  }
}
.slider__number {
  display: block;
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  left: 48%;
  top: 86%;
}
@media screen and (max-width: 375px) {
  .slider__number {
    display: none;
  }
}

.active-anim {
  opacity: 1;
}

.rightArrow {
  display: flex;
  position: absolute;
  top: 42%;
  right: 2%;
  z-index: 10;
  width: 47px;
  height: 79px;
  cursor: pointer;
}

.leftArrow {
  display: flex;
  position: absolute;
  top: 42%;
  left: 2%;
  z-index: 10;
  width: 47px;
  height: 79px;
  cursor: pointer;
}

.host-comp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.hostPicture {
  display: flex;
  margin-left: 10px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #c4c4c4;
}
@media screen and (max-width: 375px) {
  .hostPicture {
    width: 32px;
    height: 32px;
  }
}
.hostPicture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.host-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 63px;
  height: 66px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 375px) {
  .host-name {
    font-size: 12px;
    font-weight: 500;
  }
}

.rate-host-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 375px) {
  .rate-host-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.hostInfo-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .hostInfo-container {
    flex-direction: column;
  }
}

.rate-comp {
  display: flex;
  justify-content: space-between;
  width: 196px;
  height: 36px;
  margin-top: 24px;
}
@media screen and (max-width: 375px) {
  .rate-comp {
    width: 98px;
    height: 18px;
  }
}

.rate-container {
  display: flex;
  align-items: flex-start;
}

.star {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 375px) {
  .star {
    width: 15px;
    height: 15px;
  }
}

.tagContainer {
  display: flex;
}

.tagButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ff6060;
  color: #ffffff;
  margin-top: 4%;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  border-radius: 10px;
  margin-right: 10px;
  padding: 2px 10px 0 10px;
}
@media screen and (max-width: 375px) {
  .tagButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
  }
}

.title-tags-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff6060;
}
.title-tags-container h1 {
  margin: 2% 0;
  font-size: 36px;
  font-weight: 500;
}
@media screen and (max-width: 375px) {
  .title-tags-container h1 {
    font-size: 18px;
    font-weight: 500;
  }
}
.title-tags-container h3 {
  margin: 2% 0;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 375px) {
  .title-tags-container h3 {
    font-size: 14px;
    font-weight: 500;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}/*# sourceMappingURL=index.css.map */